h1{
    width:50%;
    margin: auto;
    background : url(../images/giphy.gif) no-repeat center/cover;     
     -webkit-background-clip: text;
     color: transparent; 
     text-align: center;
} 

#headr{
    color: black;
    text-shadow:2px 2px 2px red;
}
#headg{
    color:black;
    text-shadow:0px 0px 1px green;

}
.cutp{
    column-count: 3;
    column-gap: 60px;
    column-rule: 10px solid #f00;
}
hr{
    width: 50%;
    height: 5px; 
    background: palevioletred; 
    border: 1px blue solid; 
}
    
.dottp{
        width: 50%;
        border-top:15px dashed red;
        border-left:15px dashed red;
        border-bottom:15px dashed red;
        border-right:15px dashed red;
        padding:25px;
        margin: auto;
        margin-top: 50px;
        border-radius: 25px ;
        -webkit-border-radius: 25px ;
        -moz-border-radius: 25px ;
        -ms-border-radius: 25px ;
        -o-border-radius: 25px ;

}

marquee{
     height: 50px;
     background-color: palevioletred;
     margin: 70px;
} 